:root {
    --fontColor: #636363;
    --primaryColor: #39a2a5 ;
}


* {
    margin: 0;
    padding: 0; 
}
  
  *,
  *::before,
  *::after {
    box-sizing: inherit; 
}
  
html {
    box-sizing: border-box;
    font-size: 62.5%; 
}
body{
    font-family: 'Cairo', sans-serif;
	color:#888;
    font-size: 1.6rem;
    background-color: #fff;
    font-weight: 400;
    direction: rtl;
}