:root {
    --fontColor: #525b5a;
    --primaryColor: #39a2a5 ;
    --lightPrimaryColor: #93e6e9 ;
    --lighterPrimaryColor: #c1f2f4 ;
  
    
}


* {
    margin: 0;
    padding: 0; 
}
  
  *,
  *::before,
  *::after {
    box-sizing: inherit; 
}
  
html {
    box-sizing: border-box;
    font-size: 62.5%; 
    scroll-behavior: smooth;

}
body{
    font-family: 'Tajawal', sans-serif;
	color:var(--fontColor);
    font-size: 1.6rem;
    background-color: #fff;
    font-weight: 400;
    direction: rtl;
}