.section-title {
    padding: 2rem;
    margin: 4rem 0;
    background-color: white;
    width: 20%;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    text-align: center;
    font-size: 2.5rem;
    color: var(--yellowColor);
}
// Start Navigation
.navigation {
    &-logo{
        width: 20rem;
    }
    &__menu {
        display: flex;
        list-style: none;
        width: 50%;
        justify-content: space-between;
        &-item  {

            & > a {
                
                &,
                &:active,
                &:visited,
                &:link{
                    text-decoration: none;
                    color: var(--fontColor);
                    position: relative;
                    height: 100%;
                    padding: 3.5rem 1.2rem;
                    border-radius: 5px 5px 0 0; 
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        height: 3px;
                        width: 0;
                        background-color: var(--primaryColor);
                        transition: width 0.3s ease;
                        border-radius: 5px 5px 0 0;
            
                    }
                    &:hover::before {
                        width: 100%;
                    }
                    &:hover {
                        color: var(--primaryColor);
        
                    }
                }
                   
                
            }
            
        }
    }

}
// End Navigation

// Start Slider
// End Slider
// Start Services
.services {
    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 6rem;
    }
    .card {
        height: 60rem;
        position: relative;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: end;
        padding: 3rem ;
        border-top-left-radius: 3rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 3rem;
        border-bottom-left-radius: 3rem;

        &__content {
            z-index: 1;
        }
        &__title {
            font-size: 3rem;
            color: black;
        }
        &__des {
            font-size: 2rem;
            color: black;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            background-image: linear-gradient(190deg, #FFFFFF0D 0%, var(--lightPrimaryColor) 90%);
            transition: opacity 0.3s ease;
        }
        
    }
    .ca1 {
        background-image: url(../img/zra3a.jpg);
        background-size: cover;
    }
}
// End Services

.appointment {
 
    &__content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
    
    &__text {
        font-size: 3rem;
        color: var(--fontColor);
        margin-bottom: 4rem;
        text-align: center;
        word-spacing: 3px;
    }
    &__button {
     
        & > a {
            
            text-decoration: none;
            color: white;
            padding: 1.5rem 4rem;
            border-radius: 5px;
            background-color: var(--primaryColor);            

            &:hover {
                background-color: var(--lightPrimaryColor);
            }
        }
    }
}
// Start Footer
.footer{
    &__content {
        display: flex;
        
        justify-content: space-between;
    }
    &__logo > img{
        width: 35rem;
    }
    &__nav {

        &-title {
            font-size: 2.5rem;
            color: white;
            margin-bottom: 1rem;
            position: relative;
            padding-bottom: 6px;
            margin-bottom: 4rem;

            &::before {
                content: "";
                position: absolute;
                right: 0;
                bottom: 0;
                height: 3px;
                width: 80%;
                background-color: white;
            }
        }
        &-menu {
            list-style: none;
                                font-size: 1.7rem;

            color: var(--yellowColor);


            & > li {
                display: flex;
                align-items: start;
                & >img {
                    width: 2.5rem;
                    margin-left: 1rem;
                }
                &:not(:last-child) {
                    margin-bottom: 2rem;
                }
                & > a {
                    text-decoration: none;
                    color: var(--yellowColor);
                    font-size: 1.7rem;

                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }

    .branchs {
        width: 30%;
    }
}
// End Footer