.section-title {
    padding: 2rem;
    margin: 4rem 0;
    background-color: white;
    text-align: center;
    font-size: 2.5rem;
    color: var(--fontColor);
    @include respond (tab-land){
        font-size: 1.5rem;
        margin: 1rem 0;
    }
    @include respond (tab-port){
        font-size: 2rem;
       
        margin: 1rem 0;
    }
    @include respond (phone) {
        padding: 1rem;
        font-size: 1.5rem;
        margin: 1rem 0;


    }
   
}
// Start Navigation
.navigation {
    &-logo{
        width: 20rem;
        @include respond (tab-port){
            width: 10rem;
        }
    }
    &__menu {
        display: flex;
        list-style: none;
        width: 35%;
        justify-content: space-between;
        @media only screen and (max-width:1468px){
            width: 60%;
        };
        @include respond (tab-port){
            width: 80%;
        }
        &-item  {

            & > a {
                
                &,
                &:active,
                &:visited,
                &:link{
                    text-decoration: none;
                    color: var(--fontColor);
                    position: relative;
                    height: 100%;
                    padding: 3.5rem 1.2rem;
                    border-radius: 5px 5px 0 0; 
                    @include respond (tab-port){
                        padding: 3.5rem 1.5rem;
                        font-size: 1.2rem;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        height: 3px;
                        width: 0;
                        background-color: var(--primaryColor);
                        transition: width 0.3s ease;
                        border-radius: 5px 5px 0 0;
            
                    }
                    &:hover::before {
                        width: 100%;
                    }
                    &:hover {
                        color: var(--primaryColor);
        
                    }
                }
                   
                
            }
            @include respond (phone){
                display: none;


            }



            
        }
        

    }

}


.menu-button {
    background-color: var(--primaryColor);
    color: white;
    padding: 1.5rem;
    font-size: 1.5rem;
    border: none;
    border-radius:50%;
    cursor: pointer;
    display: none;
    @include respond (phone){
        display: block;
    }
}

.menu-content {
    display: none;
    position: absolute;
    top: 6.5rem;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    height: 100vh;
}

.menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}
// End Navigation

// Start Swiper

.swiper {
    &-container {
        width: 100%;
    }
    
    &-slide {

        position: relative;
        .des {
            position: absolute;
            top: 40%;
            right: 10%;
            transform: translateY(-50%);
            font-size: 3.5rem;
            z-index: 5;
            background-color:rgba(142, 140, 140, 0.5);
            color: white;
            width: 45%;
            text-align: start;
           & > p {
            font-size: 2.5rem;
            line-height: 1.9;
           }

        }
       & img {
            width: 100%;
            height: 80rem;
            object-fit: cover;
            @include respond (phone) {
                height: 60rem;

            }


        }
    }

    &-img {
        width:calc(100% / 4)!important;
        object-fit: contain !important;
        border-radius: 1rem;
        @include respond (phone) {
            width:calc(100% / 4.5)!important;

        }
     
       
        &:not(:last-child) {
            margin-left: 2rem;
        }
    }

    .fl {
        display: flex;
        height: 60rem !important;
        
        justify-content: space-evenly;
        align-items: center;
        @include respond (phone) {
            height: 15rem !important;

        }
    }




    &-button-next, &-button-prev {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 3rem 2rem;
        transition: all 0.3s ease;
    }
    &-button-next:hover, &-button-prev:hover {
        background-color: rgba(255, 255, 255, 0.8);
    }
    &-button-next::after, &-button-prev::after {
        font-size: 2rem;
    }

   
}

// End Swiper

// Start Why To Choose Us
.why-choose {
    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 5rem;
        
    }
    .card-why {
        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 40rem;
            padding: 2rem;
            border-radius: 3rem;
            
            transition: all 0.3s ease-out;

            @include respond (phone) {
                border: 0.5px solid #e3e1e1;
            }
            
            &:hover {
                transform: translateY(-5px);
                box-shadow: 0px 10px 10px var(--lighterPrimaryColor);
                padding: 2rem;
                border-radius: 3rem;
            }

        }
        &__icon {
            font-size: 10rem;
            color: var(--lightPrimaryColor);
            margin-bottom: 2rem;
        }
        &__title {
            font-size: 2rem;
            color: var(--primaryColor);
            text-align: center;
            padding-bottom: 2rem;
        }
        &__des {
            font-size: 1.5rem;
            color: lightgray;
            text-align: center;
        }
    }


}
// End Why To Choose Us
// Start Opening Hours
.opening-hours {


    
    &-branch {
        background-color: white;
        border-radius: 2rem;
        padding: 2rem 0;
        width: 80%;
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        // box-shadow: 0 5px 10px var(--primaryColor);
        border: 0.5px solid var(--primaryColor);
        transition: all 0.3s ease-in    ;
        @include respond (phone) {
            width: 100%;
            text-align: center;
        }
        
        &:hover {
            transform: translateY(-5px);
            box-shadow: 0px 20px 10px var(--lighterPrimaryColor);
            
        }

        & > p {
            font-size: 1.4rem;
            padding: 0 3rem;
            font-weight: bold;
            color: red;
        } 

        
    }
    &-days {
        list-style: none;
        font-size: 1.7rem;
        color: var(--primaryColor);
        margin-top: 2rem;
    }
    &-day {
        margin: 3rem 0;
        display: flex;
        justify-content: space-evenly;
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
        & span {
            &:last-child {
                font-weight: bold;
                font-family: sans-serif;
                color: var(--primaryColor);
            }
        }
    }

}
.branches {
    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(10rem, 1fr));
    gap: 3rem;

}
.branch__social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
    color: var(--primaryColor);
    &-icon {
        font-size: 2.5rem;
        margin-right: 1rem;
        color: var(--primaryColor);

        & > a {
            text-decoration: none;
            color: var(--primaryColor);

            &:hover {
                color: var(--lightPrimaryColor);
            }
        }
        
    }
}

.appoentment {
    background-color: white;
    border-radius: 2rem;
    text-align: center;
    padding: 2rem;
    border: 0.5px solid var(--primaryColor);
    transition: all 0.3s ease-in    ;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 20px 10px var(--lighterPrimaryColor);
        
    }
}
.content {
    display: grid;
    // align-items: start;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 4rem;
}

// End Opening Hours
// Start Services
.services {
    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 8rem;
        @include respond (phone) {
            gap: 5rem;
        }
    }
    .card {
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        height: 52rem;
        transition: all 0.2s ease-in; 
        border-radius: 3rem;
        padding: 2rem;
        &:hover {
            transform: translateY(-5px);
            box-shadow: 0px 10px 10px var(--lighterPrimaryColor);
         
        }

        @include respond (phone) {
            border: 0.5px solid #e3e1e1;
            padding: 2rem;
            border-radius: 3rem;
        }
        
        
        &__img {
            width: 100%;
            height: 30rem;
            object-fit: cover;
            border-top-left-radius: 3rem;
            border-top-right-radius: 0;
            border-bottom-right-radius: 3rem;
            border-bottom-left-radius: 3rem;

        }
        &__title {
            font-size: 2.5rem;
            color: var(--primaryColor);
            text-align: center;
        }
        &__des {
            font-size: 1.7rem;
            color: var(--lightPrimaryColor);
            text-align: center;
            padding-bottom: 2rem !important;
        }

        
    }
   
}
// End Services

// Start Cases
.type-case {
    width: 40rem;
    height:45rem;
    background-color: var(--lighterPrimaryColor);
    margin-left: 2rem;
    border-radius: 2rem;
}
// End Cases

// Start Form 
.form-container {

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;

    & h2 {
        text-align: center;
        color: var(--fontColor);
        margin-bottom: 1.5rem;
        font-weight: 600;
    }
    
}
#contact-form {
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
}

.input-group {
        position: relative;
        margin-bottom: 2rem;
        & input,
        & select {
            width: 100%;
            padding: 10px;
            border: 2px solid #ddd;
            border-radius: 1rem;
            font-size: 16px;
            outline: none;
            transition: all 0.3s ease;
            background-color: transparent;
        }
        & label {
            position: absolute;
            top: .5rem;
            right: 1rem;
            font-size: 16px;
            color: #777;
            transition: all 0.3s ease;
        }
        & input:focus,
        & select:focus {
            border-color: var(--primaryColor);
        }

        & input:focus + label,
        & input:valid + label,
        & select:focus + label,
        & select:valid + label {
            top: -20px;
            font-size: 12px;
            color: var(--primaryColor);
        }
}

.swiper-button-next::after, .swiper-button-prev::after {
    color: var(--primaryColor);
}
// BUTTON
.btn {
    width: 100%;
    padding: 12px;
    background-color: var(--primaryColor);
    color: white;
    border: none;
    border-radius: 5px;

    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: var(--lightPrimaryColor);
    }
}
@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
}
input:invalid, select:invalid {
    animation: shake 0.3s;
}
//END BUTTON
// End Form

// Start Footer
.footer{
    &__content {
        display: flex;
        justify-content: space-between;
        @include respond (phone){
            flex-direction: column-reverse;
            align-items: center;
            
        }
    }
    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > img{
            width: 35rem;
        }
    }
    &__nav {
        @include respond (phone) {
            margin-bottom: 5rem;
            
        }

        &-title {
            font-size: 2.5rem;
            color: var(--fontColor);
            margin-bottom: 1rem;
            position: relative;
            padding-bottom: 6px;
            margin-bottom: 5rem;
            @include respond (phone){
            font-size: 2rem;

            }
            &::before {
                content: "";
                position: absolute;
                right: 0;
                bottom: 0;
                height: 3px;
                width: 4rem;
                background-color: var(--fontColor);
                @include respond (phone){
                    right: 41%;
                    width: 6rem;
                  
                    
                }
            }
        }
        &-menu {
            list-style: none;
            font-size: 1.7rem;

            @include respond (phone) {
                font-size: 1.4rem;

            }
            color: white;


            & > li {
                display: flex;
                align-items: baseline;
                & > i {
                    width: 2.5rem;
                    margin-left: 1rem;
                    color: var(--fontColor);
                }
                &:not(:last-child) {
                    margin-bottom: 2rem;
                }
                & > a {
                    text-decoration: none;
                    color: white;
                    font-size: 1.7rem;
                    transition: all 0.3s ease;
                    &:hover {
                        transform: translateX(-5px);
                        color: var(--lighterPrimaryColor);
                    }
            

                }
            }
        }
    }

    .branchs {
        width: 40%;
        @include respond (phone) {
            text-align: center;
            width: 100%;

        }
    }

    &__social {
        width: 30%;
        display: flex;
        justify-content: space-around;
        &-icon {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: white;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            & > a {
                color: var(--primaryColor);
            }
           
            
            

        }
    }
}
// End Footer