.section-title {
    text-align: center;
    margin-bottom: 5rem;
}
.contact-icons {
    position: fixed;
    bottom: 2rem;
    left:2rem;
    z-index: 1030;
    justify-content: center;
    @include respond(phone){
        left: 0.2rem;
        bottom: 0.2rem;
    }
}
.contact-icon {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-top: 10px;
    transition: transform 0.3s;
    background-color: #777;
    &:hover {
        background-color: black;
        transform: scale(1.1);
        border: none;
    }
    @include respond(phone){
        margin-top: 0.2rem;
        padding: 0rem;
        width: 5rem !important;
        font-size: 1.3rem !important;
    }
}

.icon-label {
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateX(10px);
    margin-left: 1rem;
    @include respond(phone){
        display: none;
    }
}
.contact-item:hover .icon-label {
    opacity: 1;
    transform: translateX(0);
    
}
// Start Navigation
.navbar.scrolled {
    background-color: var(--lighterPrimaryColor); 
    border-bottom: 1px solid white;
    animation: showHidden 0.7s linear ;

  }
.nav-link.active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
    color: var(--primaryColor);
    outline:none
}

.navbar-toggler {
    color: var(--primaryColor);
    border-color:var(--primaryColor) ;
    font-size: 2.5rem;
    &:focus {
        box-shadow: none;
    }
    &[aria-expanded="true"] {
        border-color:gray ;
        color: gray;
    
    }
}
.logo-img {
    width: 14rem;
    margin-left: 8rem;
}
// End Navigation
.linar-color {
  
    background-image:linear-gradient(to right, #39a2a5, #75a7a8,#b2d1d2 );

}


.slide-image {
    width: 100%;
    height: 70rem; 
    object-fit: cover; 
    object-position: center; 
}
.slide-container {
    width: 100%;
    max-width: 80rem; /* Adjust this value as needed */
    margin: 0 auto; /* Centers the container */
}
.img-liner {

    padding: 5px;
        overflow: hidden;
        position: relative;
        &::before{
            content: attr(data-work);
            position: absolute;
            height: calc(100% - 10px);
            width: calc(100% - 10px);
            background-color: #c1c0c07d;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 1.5rem;  
        } 
}
.img-container {
    width: 100%;
    max-width: 450px; /* Adjust this value as needed */
    margin: 0 auto; /* Centers the container */
}
.clinic-image {
    width: 100%;
    height: 55rem; 
    object-fit: cover; 
    object-position:center; 
}

.blurred-image {
    filter: blur(2px); /* Apply the blur */    
    
  }
  .animated-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    
    animation: scaling 1.5s  infinite; 
}
.animated-button:hover {
    background-color: #45a049;
    transform: scale(1.1);
    animation: scaling 0s ease-in-out infinite; 
}
.animated-button img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 10px;
}
// Start Opening Hours
.opening-hours {

   
    
    &-branch {
        background-color: white;
        border-radius: 2rem;
        padding: 2rem 0;
        text-align: center;
        border: 0.5px solid var(--primaryColor);
        transition: all 0.3s ease-in    ;
        @include respond (phone) {
            width: 100%;
            text-align: center;
        }
        
        &:hover {
            transform: translateY(-5px);
            box-shadow: 0px 20px 10px var(--lighterPrimaryColor);
            
        }

        & > p {
            font-size: 1.4rem;
            padding: 0 3rem;
            font-weight: bold;
            color: red;
        } 

        
    }
    &-days {
       
        @include respond (phone) {
            display: none;
        }
    }
    &-day {
        margin: 3rem 0;
        display: flex;
        justify-content: space-evenly;
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
        & span {
            &:last-child {
                font-weight: bold;
                font-family: sans-serif;
                color: var(--primaryColor);
            }
        }
    }
    &-mob {
        text-align: center;
        display: none;
        font-size: 1.2rem;
        color: var(--primaryColor);
        padding: 2rem 0;
        
        @include respond (phone) {
            display: block;
        }
        
    }

}

.branch__social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
    color: var(--primaryColor);
    &-icon {
        font-size: 2.5rem;
        margin-right: 1rem;
        color: var(--primaryColor);

        & > a {
            text-decoration: none;
            color: var(--primaryColor);

            &:hover {
                color: var(--lightPrimaryColor);
            }
        }
        
    }
}

.appoentment {
    background-color: white;
    border-radius: 2rem;
    text-align: center;
    padding: 2rem;
    border: 0.5px solid var(--primaryColor);
    transition: all 0.3s ease-in    ;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 20px 10px var(--lighterPrimaryColor);
        
    }
}
// End Opening Hours

// Start Why To Choose Us
.why-choose {
  
    .card-why {
        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 40rem;
            padding: 2rem;
            border-radius: 3rem;
            transition: all 0.3s ease-out;
            @include respond (phone) {
                border: 0.5px solid #e3e1e1;
            }
            
            &:hover {
                transform: translateY(-5px);
                box-shadow: 0px 10px 10px var(--lighterPrimaryColor);
                padding: 2rem;
                border-radius: 3rem;
            }

        }
        &__icon {
            font-size: 10rem;
            color: var(--lightPrimaryColor);
            margin-bottom: 2rem;
        }
        &__title {
            font-size: 2rem;
            color: var(--primaryColor);
            text-align: center;
            padding-bottom: 2rem;
        }
        &__des {
            font-size: 1.5rem;
            color: lightgray;
            text-align: center;
        }
    }


}
// End Why To Choose Us

// Start Services
.services {
   
    .card {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        
        transition: all 0.2s ease-in; 
        border-radius: 3rem;
        padding: 1rem;
        margin-bottom: 3rem;
        background-color: #f0f0f0;
        cursor: pointer;
      
       &:hover {
            transform: scale(1.05);
          }
 
        
        &__img {
            width: 100%;
            height: 30rem;
            object-fit: cover;
            border-top-left-radius: 3rem;
            border-top-right-radius: 3rem;
            border-bottom-right-radius: 3rem;
            border-bottom-left-radius: 3rem;

        }
        &__title {
            padding-top: 3rem;
            font-size: 2rem;
            color: var(--primaryColor);
            text-align: center;
        }
       

        
    }
   
}
// End Services
// Start Form 
.form-container {

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;

    & h2 {
        text-align: center;
        color: var(--fontColor);
        margin-bottom: 1.5rem;
        font-weight: 600;
    }
    
}
#contact-form {
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
}

.input-group {
        position: relative;
        margin-bottom: 2rem;
        & input,
        & select {
            width: 100%;
            
            padding: 10px;
            border: 2px solid #ddd;
            border-radius: 1rem;
            font-size: 1.5rem;
            outline: none;
            transition: all 0.3s ease;
            background-color: transparent;
            color: #777;
            font-family: "Cairo";
        }

        
        & label {
            position: absolute;
            top: .5rem;
            right: 1rem;
            font-size: 16px;
            color: #777;
            transition: all 0.3s ease;
        }
        & input:focus,
        & select:focus {
            border-color: var(--primaryColor);
        }

        & input:focus + label,
        & input:valid + label,
        & select:focus + label,
        & select:valid + label {
            top: -20px;
            font-size: 12px;
            color: var(--primaryColor);
        }
        
       
        .date-label {
           
                padding-right: 2.3rem;
            
        }
}
// BUTTON
.btn {
    width: 100%;
    padding: 12px;
    background-color: var(--primaryColor);
    color: white;
    border: none;
    border-radius: 5px;

    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: var(--lightPrimaryColor);
    }
}
input:invalid, select:invalid {
    animation: shake 0.3s;
}
//END BUTTON
// Start Footer
.footer{
    &__content {
        display: flex;
        justify-content: space-between;
        @include respond (phone){
            flex-direction: column-reverse;
            align-items: center;
            
        }
    }
    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > img{
            width: 35rem;
        }
    }
    &__nav {
        @include respond (phone) {
            margin-bottom: 5rem;
            
        }

        &-title {
            font-size: 2.5rem;
            color: var(--fontColor);
            margin-bottom: 1rem;
            position: relative;
            padding-bottom: 6px;
            margin-bottom: 5rem;
            @include respond (phone){
            font-size: 2rem;

            }
            &::before {
                content: "";
                position: absolute;
                right: 0;
                bottom: 0;
                height: 3px;
                width: 4rem;
                background-color: var(--fontColor);
                @include respond (phone){
                    right: 41%;
                    width: 6rem;
                  
                    
                }
            }
        }
        &-menu {
            list-style: none;
            font-size: 1.7rem;

            @include respond (phone) {
                font-size: 1.4rem;

            }
            color: white;


            & > li {
                display: flex;
                align-items: baseline;
                & > i {
                    width: 2.5rem;
                    margin-left: 1rem;
                    color: var(--fontColor);
                }
                &:not(:last-child) {
                    margin-bottom: 2rem;
                }
                & > a {
                    text-decoration: none;
                    color: white;
                    font-size: 1.7rem;
                    transition: all 0.3s ease;
                    &:hover {
                        transform: translateX(-5px);
                        color: var(--lighterPrimaryColor);
                    }
            

                }
            }
        }
    }

    .branchs {
        width: 40%;
        @include respond (phone) {
            text-align: center;
            width: 100%;

        }
    }

    &__social {
        width: 30%;
        display: flex;
        justify-content: space-around;
        &-icon {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: white;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            & > a {
                color: var(--primaryColor);
            }
           
            
            

        }
    }
}
// End Footer
//CAESES 
.box {
    padding: 5px;
    overflow: hidden;
    position: relative;
    &::before{
        content: attr(data-work);
        position: absolute;
        height: calc(100% - 10px);
        width: calc(100% - 10px);
        background-color: rgba(10, 86, 81, 0.457);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: white;
        transition: all 0.3s ease-in;
    
        font-size: 1.5rem;
        transform: translateX(calc(-100% - 5px ));
    } 
    &:hover::before {
        transform: translateX(0);
    
    }
}
  /* Modal Styles */
  .modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 90%;
    max-width: 500px;
  }

  .modal-content img {
    max-width: 100%;
    border-radius: 8px;
  }

  .modal-content p {
    margin-top: 15px;
    font-size: 18px;
  }

  /* Close Button */
  .close-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }




  //////////////////////////
  /// 
  .dialog-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    width: 800px;
    max-width: 90%;
    max-height: 90%;
    padding: 0;
    border: none;
  }
  .dialog-content iframe {
    width: 100%;
    height: 600px;
  }
#closeDialogBtn {
    background-color: red;
    color: white;
}