.container {
    width: 80%;
    margin: 0 auto;
    
    @include respond(tab-port){
        width: 90%;
        padding: 0 1.5rem;
        margin: 0 auto;
    }
    @include respond(tab-land){
        margin: 0;
        width: 95%;
        padding: 0;
        margin: 0 auto;
    }

}
.navi {
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 100;
}
.navigation {
    padding: 5rem 0;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    @include respond(phone) {
        height: 7;
        padding: 2.5rem 0;

    }
    
}


.opening-hours {
   padding-bottom: 5rem;
    background: linear-gradient(135deg, #eaf2f3 0%, #8bb8b9 40%, #90d3d4 90%);}

// Start Services
.services {
    // background-color: var(--lighterPrimaryColor);
    padding-bottom: 10rem;
}
// End Services
// Start Appointments
.appointment {
    height: 30vh;
    margin: 1rem 0;
    background-color: var(--yellowColor);
    display: flex;
    align-items: center;
}
// End Appointments

// Start Footer
.footer{
    display: flex;
    padding: 7rem 0;
    align-items: center;
    background-color: var(--primaryColor);
}
// End Footer