
.stuff {
    margin-top: 10rem;
    @include respond(phone){
        margin-top: 2rem ;
    }
}
.opening-hours {
    margin-top: 10rem;
    @include respond(phone){
        margin-top: 2rem ;
    }
}
.services {
    margin-top: 10rem ;
    @include respond(phone){
        margin-top: 2rem;
    }
}
.cases {
    margin-top: 10rem;
    @include respond(phone){
        margin-top: 2rem;
    }
}
.reviews {
    margin-top: 10rem;
    @include respond(phone){
        margin-top: 2rem;
    }
}
.footer{
    display: flex;
    padding: 7rem 0;
    align-items: center;
    background-color: var(--primaryColor);
}