.carousel {
    height: 70vh;
    margin-bottom: 10rem;
    @include respond(phone){
        height: 50rem;
    }
}


.opening-hours {
    padding: 10rem 0;
    @include respond(phone){
       padding: 0rem 0;
}
}

// Start Services
.services {
    padding: 10rem 0;
}
// End Services
.reviews {
    padding: 10rem 0;
}


// Start Footer
.footer{
    display: flex;
    padding: 7rem 0;
    align-items: center;
    background-color: var(--primaryColor);
}
// End Footer